:root{    
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%); 
    --Light-grayish-blue: hsl(240, 5%, 91%);
        /*Gradient*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);     
}
.main{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    padding: 150px 5px 90px;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;  
    font-weight: 400; 
    color: var(--Very-dark-grayish-blue);
    background-image: linear-gradient(var(--Soft-violet) , var(--Soft-blue) );
    background-repeat: no-repeat;      
} 
.main::before{
    content: url(/assets/image/illustration-woman-online-mobile.svg);
    height: 215px;
    position: absolute;
    top: -106px;
    left: 16px;
    background-image: url(/assets/image/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: 25px 110px;
}
.main{
    position: relative;
    text-align: center;
    width: 326px; 
    height: 528px; 
    padding: 120px 12px 36px;
    border-radius: 24px;   
    background-color: white;
    box-shadow: 0 24px 100px -18px var(--Very-dark-desaturated-blue);
}
.main__title{
    margin-bottom: 2rem;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.main__list{
    list-style: none;
    margin: 12px;
    padding: 0;    
}
.main__list-items{
    border-bottom: 1px solid var(--Light-grayish-blue);
    text-align: start;    
}
.main__list-title{  
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    margin: 18px 0; 
    font-size: 1.3rem;
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
}
.main__list-title::after{
    content: url(/assets/image/icon-arrow-down.svg);
    display: block;
    transition: transform .3s;
}
.main__list-text-container{
    max-height: 0;    
    overflow: hidden;
    transition: max-height .3s;
}
.main__list-text{
    margin:  0 12px 0 0;    
    line-height: 20px; 
    color: var(--Dark-grayish-blue);   
}

.main__list-title--active{
    font-weight: 700;    
}
.main__list-title--active::after{
    transform: rotate(180deg);
}
.main__list-text-container--active{    
    max-height: 100px;
    margin-bottom: 4px;   
}